.btn1, .btn2, .btn3 {
    background-color: #5A7ACD;
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
    border: 1px solid #283557;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 30px;
}
/*  effects  */
.btn1:hover {
    background-color: #283557;
    border-radius: 20px;
}

.btn2:focus {
    background-color: #283557;
    border-radius: 20px;
}

.btn3:active {
    background-color: #283557;
    border-radius: 20px;
}