div {
    margin-bottom: 4px;

    /* margin: 0px 0px 4px 0px; // top right bottom left */

}

div {
    .btn1, .btn2, .btn3 {
        font-size: 20px;
        padding: 8px 20px; 
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;

        /* padding: 4px 8px; // top-bottom left-right */
        /* padding: 4px; // all side
        padding: 4px 4px 4px 4px; // top right bottom left */
        /* padding-left: 4px;
        padding-bottom: 4px; */
    }

    .btn1 {
        background-color: #09637E;
    }
    .btn2 {
        background-color: #15173D
    }
    .btn3 {
        background-color: #280905
    }


    
    .btn1:hover {
        background-color: #0d3946;
    }
    .btn2:focus {
        background-color: #2c3079;
    }
    .btn3:active {
        background-color: #882113;
    }
}