body{
    background-color: #f1f1f1;
}
.navbar-wrapper{
    background-color: white;
    box-shadow: 0px 0px 3px #ddd;
    border-radius: 5px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}