body{
    background-color: #f1f1f1;
    margin: 0px; padding: 0px;
}
.card-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;

    background-image: url("../images/house1.jpg");
    background-position: center;
    background-size: cover;

}

.card{
    padding: 6px;
    border-radius: 16px;
    background-color: #ffffff3d;
    /* box-shadow: 0px 0px 3px #ccc; */
    backdrop-filter: blur(8px); 

    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%; 
}

.card-header {
    background-image: url("../images/house1.jpg");
    background-position: center;
    background-size: cover;
    height: 130px;
    border-radius: 12px;

    position: relative;
}

.rent{
    position: absolute;
    left: 8px;
    bottom: 8px;

    background-color: white;
    padding: 4px;
    border-radius: 50px;
    font-size: 9px;
}
.location-fvrt {
    position: absolute;
    right: 8px;
    bottom: 8px;

    background-color: white;
    padding: 4px;
    border-radius: 50px;
    font-size: 9px;
}

.img-bottom .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body .price-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
        color: #7a7878;
        font-size: 11px;
    }
}