body {
    background-color: #ddd;
}

.card{
    background-color: white;
    padding: 8px;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: green;
}

@media (width < 576px){
    .card{
        background-color: #333;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: red;
    }
    h2{
        visibility: true;
    }
}

// range: 576 +   -----   -992px
@media (577px <= width <= 992px){
    h2{
        color: red;
    }
}
@media (width > 992px) {
    body{
        color: purple;
    }
}